body {
    font-size: 16px;
    background-color: #ccd;
    font-family: arial, sans-serif
}

footer a {
    color: yellow;
}

header, main, footer {
    max-width: 800px;
    margin: 0 auto;
}

header, footer {
    padding: 1.5em 4em;
    background-color: #8833ff;
    border-radius: 20px;
}

header h1 {
    font-size: 4em;
    font-family: century, serif;
    margin: 0px 50px;
    color:#fff;
}

footer {
    font-size: 1em;
    text-align: center;
    color: #fff;
}

main {
    background-color: #fff;
    padding: 1em;
}

main h2 {
    margin: 20px 0 0 0;
}

header img {
    float: right;
    width: 150px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px #777;
}

li {
    margin: 5px 0px;
}