@media only screen and (min-width: 37.5em) {
    main, footer {
        max-width: 900px;
    }

    .navigation {
		display: flex;
	}
    
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation a {
		text-align: center;
	}

	.navigation li:first-child {
		display: none;
	}

    main {
        grid-template-columns: 1fr 1fr;
        padding: 1rem;
    }

    section {
        margin: 10px;
    }

    footer {
        border-radius: 20px;
    }
}