@media only screen and (min-width: 60em) {
    header, main, footer, nav {
        max-width: 1100px;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .navigation {
		display: flex;
        max-width: 1000px;
        margin: auto;
	}

	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}

	.navigation li:first-child {
		display: none;
	}

    .container {
        max-width: 70%
    }

    header h1 {
        font-size: 2.5rem; /* 40px */
    }

    .motto {
        font-size: 1.5rem; /* 24px */
    }

    header img {
        width: 120px;
    }
}