html {
    font-size: 16px;
}

body {
    background-color: #ccd;
    font-family: Lato, arial, sans-serif
}

h1 {
    font-size: 1.75rem; /* 28px */
}

h2 {
    font-size: 1.5rem; /* 24px */
}

p {
    font-size: 1.2rem; /* 19px */
}

header, main, footer, nav {
    margin: 0 auto;
}

header, footer {
    text-align: center;
    border-radius: 0px;
    padding: 1.5rem 4rem;
    background-color: #8833ff;
    max-width: 100%;
    color:#fff;
}

header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

header picture {
    justify-self: end;
}

header h1 {
    font-size: 1.8rem; /* 40px */
    font-family: 'Sriracha', cursive;
    margin: 0px 0px 20px 20px;
}

header img {
    width: 60px;
}

.motto {
    font-size: 1.2rem; /* 19px */
}

nav {
	background-color: #36454f;
	box-shadow: 0 2px 15px gray;
    max-width: 100%;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.responsive li {
	display: block;
}

.navigation a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 1.2rem; /* 20px */
}

.navigation a:hover {
	background-color: #bbb;
	color: #36454f;
}

.navigation .active {
	color: yellow;
}

footer, footer p {
    font-size: 1em;
}

footer a {
    color: yellow;
}

main {
    background-color: white;
    padding: 1em 0em;
    /*display: grid;
    grid-template-columns: 1fr;
    justify-items: center;*/
}

main h2 {
    text-align: center;
}

.container {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px auto;
    padding: 5px;
    background-color:lightgray;
    text-align:left;
    max-width: 600px;
    width: 90%;
}

.container .title {
    color: white;
    background-color: green;
    margin: -10px -10px;
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
}

.container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.container .content {
    color: black;
    padding: 5px;
}